body{
    background-image: url(img/fjord01.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 15, 144, 0.8);
    background-size: cover;
    /* background-size: 100vw 100vh; */
    font-size: large;
}

/* NAVBAR */
nav{
    display: flex;
    height: 2.5em;
    background: rgba(0, 35, 74, 0.9);
    margin: -8px -8px -16px -8px;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.nav-items{
    margin: 0 15px 0 15px;
}


/* HEADER */
.hero{
    display: flex;
    background: rgba(0, 127, 66, 0.8);
    height: 500px;
    width: 60%;
    margin: 18px auto;
    /* margin-top: 19px; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.hero h2{
    align-self: start;
    text-align: center;
}

.d-logo-container{
    position: absolute;
    height: 250px;
    top: 200px;
}

.d-logo-container img{
    height: 100%;
}

.letter-container span {
    height: 180px;
    left: 82px;
    top: 110px;
    display: flex;
    align-items: flex-end;
    font: 26px Monaco, MonoSpace;
    position: absolute;
    width: 12px;
    transform-origin: top center;
    /* border: dotted white; */
}

/* Letras da palavra sobre */
.sobre1 { transform: rotate(75deg); }
.sobre2 { transform: rotate(70deg); }
.sobre3 { transform: rotate(65deg); }
.sobre4 { transform: rotate(60deg); }
.sobre5 { transform: rotate(55deg); }

/* Letras da palavra habilidades */
.hab1 { transform: rotate(25deg); }
.hab2 { transform: rotate(20deg); }
.hab3 { transform: rotate(15deg); }
.hab4 { transform: rotate(10deg); }
.hab5 { transform: rotate(5deg); }
.hab6 { transform: rotate(0deg); }
.hab7 { transform: rotate(-5deg); }
.hab8 { transform: rotate(-10deg); }
.hab9 { transform: rotate(-15deg); }
.hab10 { transform: rotate(-20deg); }
.hab11 { transform: rotate(-25deg); }

/* Letras da palavra projetos */
.proj1 { transform: rotate(-43deg); }
.proj2 { transform: rotate(-48deg); }
.proj3 { transform: rotate(-53deg); }
.proj4 { transform: rotate(-58deg); }
.proj5 { transform: rotate(-63deg); }
.proj6 { transform: rotate(-68deg); }
.proj7 { transform: rotate(-73deg); }
.proj8 { transform: rotate(-78deg); }

/* Main */
main{
    margin: 0 -6px -6px -7px;
}

.main-card{
    background: rgba(0, 35, 74, 0.9);
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 20px 60px;
    font-size: 1.5em;
}

.card-sobre{
    /* display: none; */
}

ul{
    list-style:none;
    padding: 0;
}

form input, textarea{
    width: 60%;
    position: relative;
    right: -40px;
}

textarea{
    right: -120px;
}

form{
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
}

.btn{
    position: relative;
    left: 120px;
    width: 61%;
}

h3 ion-icon{
    position: relative;
    top: 3px;
}

/* AUXILIARY CLASSES */

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}





/* .main-section, .main-section-head{
    background: rgba(0, 35, 74, 0.9);
    vertical-align: top;
    border-radius: 10px;
}

.main-section{
    padding: 20px 20px 20px 40px;
} */

/* table{
    visibility: hidden;
    display: none;
    width: 100%;
    table-layout: fixed;
}

.sobre-table{
    visibility: hidden;
}

.sobre-activator{
    transform: rotate(-25deg);
    position: absolute;
    top: 345px;
    left: 355px;
    height: 70px;
    width: 20px;
    background: rgba(242, 226, 226, 0.3);
}

.sobre-activator:hover ~ .sobre-table{
    visibility: visible;
    display: block;
    background-color: lightblue;
    color: rebeccapurple;
} */