body{
    background-image: url(img/fjord01.jpg);
    background-color: rgba(0, 15, 144, 0.8);
    background-size: cover;
    font-size: large;
}

nav{
    display: flex;
    height: 2.5em;
    background: rgba(0, 35, 74, 0.9);
    margin: -8px -8px -16px -8px;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

header{
    display: flex;
    background: rgba(0, 127, 66, 0.8);
    height: 20em;
    margin: 19px -5px 2px -5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

header h2{
    align-self: start;
}

header img{
    position: absolute;
    transform: scale(0.15);
    bottom: -3%;
}

main{
    margin: 0 -6px -6px -7px;
}

table{
    width: 100%;
    table-layout: fixed;
}

form input, textarea{
    display: block;
    margin-bottom: 1em;
    width: 60%;
}

h3{
    margin-top: 2em;
}

.nav-items{
    margin: 0 15px 0 15px;
}

.main-section, .main-section-head{
    background: rgba(0, 35, 74, 0.9);
    vertical-align: top;
    border-radius: 10px;
}

.main-section{
    padding: 20px 20px 20px 40px;
}

.btn{
    width: 61%;
}